<!--#loop #-->
<!--#my_element name="Header" #-->
<container class="module-header">
    <row>
        <columns small="12" large="12">
            <center>
                <!--#image #-->
                <img src="assets/img/logo.png" border="0">
                <!--#/image#-->
            </center>
        </columns>
    </row>
</container>
<!--#/my_element#-->
<!--#loopsplit#-->