<!--#loop #-->
<!--#my_element name="Großer Text" #-->
<container class="module-big-text">
    <row>
        <columns small="12" large="12">
            <!--#text #-->
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium omnis ipsam magnam sapiente culpa quia repellendus laboriosam nam quas error.
            </p>
            <!--#/text#-->
        </columns>
    </row>
</container>
<!--#/my_element#-->
<!--#loopsplit#-->