<!--#loop #-->
<!--#my_element name="Text einspaltig" #-->
<container class="module-text">
    <row>
        <columns small="12" large="6">
            <!--#html #-->
            <div>
                <strong>Beispiel Titel</strong><br> Ich bin Blindtext. Von Geburt an. Es hat lange gedauert, bis ich begriffen habe, was es bedeutet, ein blinder Text zu sein: Man macht keinen Sinn. Man wirkt hier und da aus dem Zusammenhang gerissen.
                Oft wird man gar nicht erst gelesen.
            </div>
            <!--#/html#-->
        </columns>
        <columns small="12" large="6">
            <!--#html #-->
            <div>
                <strong>Beispiel Titel</strong><br> Ich bin Blindtext. Von Geburt an. Es hat lange gedauert, bis ich begriffen habe, was es bedeutet, ein blinder Text zu sein: Man macht keinen Sinn. Man wirkt hier und da aus dem Zusammenhang gerissen.
                Oft wird man gar nicht erst gelesen.
            </div>
            <!--#/html#-->
        </columns>
    </row>
</container>
<!--#/my_element#-->
<!--#loopsplit#-->