<!--#loop #-->
<!--#my_element name="Impressum" #-->
<container class="module-imprint">
    <row>
        <columns small="12" large="6">
            <!--#aboutus #-->
            <p>
                Impressum und rechtliche Hinweise <br><br>

                <b>immoGrafik GmbH</b><br> Kirchstraße 18, 52156 Monschau, Deutschland <br> Telefon: 0800 86 86 888, <a href="mailto:info@immografik.de">info@immografik.de</a><br>
                <b><a href="https://www.immografik.de">www.immografik.de</a></b><br><br> Vertreten durch den Geschäftsführer: Rolf Kaulard
            </p>
            <!--#/aboutus#-->
            <br>
            <!--#unsubscribe #-->
            <a href="{UNSUBSCRIBE}">Abmelden</a>
            <!--#/unsubscribe#-->
        </columns>
        <columns valign="bottom" small="12" large="6">
            <!--#image #-->
            <img align="right" src="assets/img/logo.png" border="0">
            <!--#/image#-->
        </columns>
    </row>
</container>
<!--#/my_element#-->
<!--#loopsplit#-->