<!--#loop #-->
<!--#my_element name="Text einspaltig" #-->
<container class="module-text">
    <row>
        <columns small="12" large="12">
            <!--#text #-->
            <p>
                Sehr geehrte/r __EMPFÄNGERNAME__,
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sunt corrupti possimus soluta ad recusandae tempore blanditiis assumenda, repellat, voluptatem libero nulla error eaque. Molestiae, porro, aperiam sunt beatae doloremque odio quod facilis,
                aliquid consequuntur magni ea totam error nam maiores hic deleniti at illo fugiat nobis nulla voluptates! Ad qui voluptas placeat corporis. Non dolores incidunt alias nemo consectetur?
            </p>
            <!--#/text#-->
        </columns>
    </row>
</container>
<!--#/my_element#-->
<!--#loopsplit#-->