<!--#loop #-->
<!--#my_element name="Pre-Header" #-->
<container class="module-pre-header">
    <spacer size="16"></spacer>
    <row>
        <columns small="12" large="12">
            <center>
                <!--#text_line #-->
                <p>Betreffzeile, die in der Vorschau gezeigt wird</p>
                <!--#/text_line#-->
            </center>
        </columns>
    </row>
    <row>
        <columns small="12" large="12">
            <center>
                <!--#online_version #-->
                <a href="{ONLINE_VERSION}">Zur Online-Version</a>
                <!--#/online_version#-->
            </center>
        </columns>
    </row>
</container>
<!--#/my_element#-->
<!--#loopsplit#-->