<!--#loop #-->
<!--#my_element name="Bühnenbild" #-->
<container>
    <row>
        <columns small="12" large="12">
            <center>
                <!--#image #-->
                <img src="assets/img/immografik_mail_hero.jpg" border="0">
                <!--#/image#-->
            </center>
        </columns>
    </row>
</container>
<!--#/my_element#-->
<!--#loopsplit#-->