.module-imprint {
    background-color: rgb(230, 230, 230) !important;
    .columns {
        padding-top: $global-padding !important;
        height: 100%;
    }
    .last {
        vertical-align: bottom;
    }
    p,
    a {
        font-size: 12px;
        &:last-of-type {
            margin-bottom: 0 !important;
        }
    }
    img {
        max-width: 80px;
    }
}