.module-big-text {
    p {
        border-top: 3px solid $primary-color;
        border-bottom: 3px solid $primary-color;
        color: $primary-color;
        font-size: 24px;
        font-weight: 600;
        padding: $global-padding 0 !important;
    }
}