.module-pre-header {
    background: $body-background !important;
    .columns {
        padding: 15px 0;
    }
    // .row:first-of-type {
    //     .columns {
    //         padding-bottom: 0;
    //     }
    // }
    a,
    p {
        font-size: 12px;
        text-align: center;
    }
    p {
        color: $medium-gray;
    }
}